/* line 1, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.contenedor {
  margin: auto;
  max-width: 1600px;
  background-image: url(../imagenes/repetido.png);
}

/*GENERAL*/
/* line 7, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
html {
  background-color: black;
  scroll-behavior: smooth;
  /*para que scrolle suave*/
  font-size: 62.5%;
  font-family: 'Krub', sans-serif;
}

/* line 14, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
html * {
  margin: 0;
  box-sizing: border-box;
}

/* line 19, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
html div {
  display: block;
}

/* line 23, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
html body {
  font-size: 1.5rem;
  border-left: 0;
  color: blanchedalmond;
  /*control de fuentes*/
}

/* line 27, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
html body img {
  width: 100%;
}

/* line 33, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
html body h2 {
  /*titulo de cada seccion*/
  background-image: linear-gradient(to left, coral, rgba(255, 255, 0, 0.61));
  color: #f5eb8f;
  text-align: right;
  font-size: 5rem;
  padding: 10px;
  font-family: 'Itim', cursive;
}

/* line 40, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
html body h3 {
  /*nombre de los personajes*/
  color: coral;
}

/* line 43, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
html body h4 {
  /*letras del formulario*/
  font-size: 2rem;
}

/* line 47, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
html body header {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 54, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
html body main {
  background-color: rgba(70, 60, 80, 0.418);
}

/* line 57, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
html body main .wrapper {
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 0px;
  width: 100%;
}

/* line 64, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
html body main .universe-main {
  /*PARA CONTROLAR CADA SECCION*/
  text-align: center;
}

/*MENU NAVEGADOR*/
/* line 72, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.navegador-grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: top left;
  text-align: center;
  justify-content: center;
  background-color: black;
}

/* line 82, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.navegador-columna {
  width: 100%;
}

/* line 85, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.navegador-columna img {
  width: 180px;
}

/* line 89, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.topnav {
  width: 100%;
  overflow: hidden;
  display: flex;
  padding: 0;
  margin: 0;
}

/* line 96, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.topnav li {
  list-style: none;
  text-align: center;
  font-size: 17px;
}

/* line 101, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.topnav li a {
  font-size: 2rem;
  color: blanchedalmond;
  display: block;
  padding: 22px 50px 22px 50px;
  text-decoration: none;
}

/* line 110, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.topnav li:hover a {
  background-color: #e6cf6d;
  color: black;
}

/* line 114, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.topnav .icon {
  display: none;
}

/*INICIO*/
/* line 121, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
#arriba .responsive {
  display: none;
}

/* line 125, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
#slideshow {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

/* line 131, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
#slideshow .slide-wrapper {
  width: 4800px;
  animation: slide 8s ease infinite;
}

/* line 136, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
#slideshow .slide-wrapper .slide {
  float: left;
  height: 600px;
  width: 1050px;
}

@-webkit-keyframes slide {
  20% {
    margin-left: 200px;
  }
  30% {
    margin-left: -1000px;
  }
  50% {
    margin-left: -1000px;
  }
  60% {
    margin-left: -2000px;
  }
  70% {
    margin-left: -2000px;
  }
  80% {
    margin-left: -3000px;
  }
  90% {
    margin-left: -3000px;
  }
}

/*HISTORIA*/
/* line 153, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.historia-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
}

/* line 162, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.historia-grid .historia-columna {
  width: 100%;
  padding: 0.5rem;
}

/* line 167, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.historia-grid .historia-columna img {
  width: 100%;
}

/* line 171, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.historia-grid .historia-columna img:hover {
  transform: scale(1.3);
}

/*PERSONAJES*/
/* line 176, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.personajes-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: top;
  text-align: center;
}

/* line 185, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.personajes-grid .column-personajes {
  padding: 7rem 0 2rem 0;
}

/* line 189, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.personajes-grid .column-personajes img {
  width: 20rem;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  overflow: hidden;
  border-color: coral;
  border-style: solid;
  border-width: 0.4rem;
  margin: auto;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

/* line 203, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.personajes-grid .column-personajes img:hover {
  transform: scale(1.03);
  border-width: 0.7rem;
  border-color: #ffc400;
}

/* line 208, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.personajes-grid .column-personajes .linea-negra {
  border-style: solid;
  border-bottom: black;
  border-width: 0.1rem;
  margin: 1rem 0 1rem 0;
}

/*REBECCA*/
/* line 216, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.rebecca-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* line 226, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.rebecca-grid img {
  width: 350px;
  border-radius: 50%;
  padding: 5rem 0rem 2rem 0rem;
}

/* line 232, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.rebecca-grid .column-rebecca {
  width: 100%;
  padding: 2rem 5rem 0 4rem;
}

/* line 236, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.rebecca-grid .column-rebecca .imagen {
  padding-right: 0;
}

/*CONTACTO*/
/* line 241, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.formulario {
  padding-top: 2rem;
}

/* line 244, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.formulario textarea {
  width: 75%;
  height: 250px;
  border-radius: 0.8rem;
}

/* line 250, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
.formulario input {
  width: 75%;
  height: 40px;
}

/*FOOTER*/
/* line 254, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
footer {
  background-color: black;
  font-size: 5rem;
  text-align: center;
}

/* line 259, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
footer a {
  text-decoration: none;
  color: coral;
}

/* line 264, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
footer a:hover {
  color: chocolate;
}

/*PARA CELULAR*/
@media screen and (max-width: 780px) {
  /*ojo con la especificidad*/
  /*general*/
  /* line 275, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  html body h2 {
    /*cambiar los titulos de cada seccion*/
    font-size: 3rem;
    text-align: center;
  }
  /* line 280, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  html body header {
    position: relative;
  }
  /* line 283, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  html body header nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
    border-left: none;
    border-right: none;
  }
  /*home*/
  /* line 294, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  #slideshow {
    display: none;
  }
  /* line 298, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  #arriba .responsive {
    display: initial;
  }
  /*historia*/
  /* line 304, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  #historia .historia-grid {
    grid-template-columns: 0fr 1fr 0fr;
  }
  /* line 307, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  #historia .historia-grid img {
    visibility: hidden;
  }
  /* line 312, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  #historia iframe {
    height: 200px;
  }
  /*personajes*/
  /* line 317, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  .personajes-grid {
    grid-template-columns: 1fr;
  }
  /* line 320, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  .personajes-grid .column-personajes {
    width: 100%;
    margin-top: 1rem;
    padding: 2rem;
  }
  /*rebecca*/
  /* line 326, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  .rebecca-grid {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
  }
  /* line 331, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  .rebecca-grid img {
    width: 300px;
    padding-top: 1rem;
  }
  /*contacto*/
  /* line 337, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  .formulario {
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 341, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  .formulario textarea {
    width: 75%;
    height: 100px;
  }
  /* line 346, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  .formulario input {
    width: 75%;
    height: 30px;
  }
}

/*navegador* para tablet y celular*/
@media screen and (max-width: 1024px) {
  /* line 358, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  .topnav li {
    display: none;
  }
  /* line 360, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  .topnav li.icon {
    margin-left: auto;
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  /* line 367, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  .topnav.responsive {
    position: relative;
    flex-direction: column;
  }
  /* line 368, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 373, C:/Users/jumbo/Desktop/Steven/Desafio-9/scss/pagina.scss */
  .topnav.responsive li {
    display: block;
    text-align: left;
  }
}

/*# sourceMappingURL=../css/pagina.map */